<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
          <li><a href="#">Sai Sri Lakshmi Vancha</a></li>
          <li><a href="https://sneharao.herokuapp.com/index">Sneha Madhavaram</a></li>
          <li><a href="https://nukavamshi.herokuapp.com/" target="_blank">Vamshi Krishana Nuka</a></li>
        </ul>
      </li>
  </ul>
</li>