<li class="dropdown">
  <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
    <span class="caret"></span>
  </a>
  <ul class="dropdown-menu">
          <li><a href="https://vanchas-app.herokuapp.com/">Sai Sri Lakshmi Vancha</a></li>
          <li><a href="#">Sneha Madhavaram</a></li>
          <li><a href="#">Vamshi Krishana Nuka</a></li>
        </ul>
      </li>
  </ul>
</li>