<% include header %>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>SuperSales</h1>
      <br/>
      <h2>Site under Beta Version </h2>
      <br/>
      
      <h3>During development, test your api here.</h3>
      <br/>
      


    </div>
  </div>
</div>
<!-- <% include footer %> -->