<% include header %>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>SuperSales</h1>
      <br>        
      <h2>Products:- </h2>
      <a href="http://localhost:8089/product">http://localhost:8089/product</href><br>
      <a href="http://localhost:8089/product/create">http://localhost:8089/product/create</href><br>
      <a href="http://localhost:8089/product/details/1">http://localhost:8089/product/details/1</a><br>
      <a href="http://localhost:8089/product/edit/1">http://localhost:8089/product/edit/1</a><br>
      <a href="http://localhost:8089/product/delete/1">http://localhost:8089/product/delete/1</a><br><br><br>
      
      <h2>Order:- </h2>
      <a href="http://localhost:8089/order">http://localhost:8089/order</a><br>
      <a href="http://localhost:8089/order/create">http://localhost:8089/order/create</a><br>
      <a href="http://localhost:8089/order/details/5">http://localhost:8089/order/details/5</a><br>
      <a href="http://localhost:8089/order/edit/5">http://localhost:8089/order/edit/5</a><br>
      <a href="http://localhost:8089/order/delete/5">http://localhost:8089/order/delete/5</a><br><br><br>
      
      <h2>Order Line:- </h2>
      <a href="http://localhost:8089/orderLineItem">http://localhost:8089/orderLineItem</a><br>
      <a href="http://localhost:8089/orderLineItem/create">http://localhost:8089/orderLineItem/create</a><br>
      <a href="http://localhost:8089/orderLineItem/edit/5">http://localhost:8089/orderLineItem/edit/5</a><br>
      <a href="http://localhost:8089/orderLineItem/delete/5">http://localhost:8089/orderLineItem/delete/5</a><br>
      <a href="http://localhost:8089/orderLineItem/details/5">http://localhost:8089/orderLineItem/details/5</a><br><br><br>
      
      <h2>Customers:- </h2>
      <a href="http://localhost:8089/customer">http://localhost:8089/customer</a><br>
      <a href="http://localhost:8089/customer/create">http://localhost:8089/customer/create</a><br>
      <a href="http://localhost:8089/customer/edit/1">http://localhost:8089/customer/edit/1</a><br>
      <a href="http://localhost:8089/customer/delete/1">http://localhost:8089/customer/delete/1</a><br>
      <a href="http://localhost:8089/customer/details/1">http://localhost:8089/customer/details/1</a><br>
    </div>
  </div>
</div>
<!-- <% include footer %> -->