<% include header %>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>SuperSales</h1>
      <br>        
      <h2>Products:- </h2>
      <a href="https://murmuring-depths-21990.herokuapp.com/product">https://murmuring-depths-21990.herokuapp.com/product</href><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/create">https://murmuring-depths-21990.herokuapp.com/product/create</href><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/edit/1">https://murmuring-depths-21990.herokuapp.com/product/edit/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/details/1">https://murmuring-depths-21990.herokuapp.com/product/details/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/delete/1">https://murmuring-depths-21990.herokuapp.com/product/delete/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/edit/2">https://murmuring-depths-21990.herokuapp.com/product/edit/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/details/2">https://murmuring-depths-21990.herokuapp.com/product/details/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/delete/2">https://murmuring-depths-21990.herokuapp.com/product/delete/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/edit/3">https://murmuring-depths-21990.herokuapp.com/product/edit/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/details/3">https://murmuring-depths-21990.herokuapp.com/product/details/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/delete/3">https://murmuring-depths-21990.herokuapp.com/product/delete/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/edit/4">https://murmuring-depths-21990.herokuapp.com/product/edit/4</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/details/4">https://murmuring-depths-21990.herokuapp.com/product/details/4</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/product/delete/4">https://murmuring-depths-21990.herokuapp.com/product/delete/4</a><br><br><br>
      
      <h2>Order:- </h2>
      <a href="https://murmuring-depths-21990.herokuapp.com/order">https://murmuring-depths-21990.herokuapp.com/order</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/create">https://murmuring-depths-21990.herokuapp.com/order/create</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/edit/5">https://murmuring-depths-21990.herokuapp.com/order/edit/5</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/details/5">https://murmuring-depths-21990.herokuapp.com/order/details/5</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/delete/5">https://murmuring-depths-21990.herokuapp.com/order/delete/5</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/edit/1">https://murmuring-depths-21990.herokuapp.com/order/edit/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/details/1">https://murmuring-depths-21990.herokuapp.com/order/details/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/delete/1">https://murmuring-depths-21990.herokuapp.com/order/delete/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/edit/2">https://murmuring-depths-21990.herokuapp.com/order/edit/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/details/2">https://murmuring-depths-21990.herokuapp.com/order/details/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/delete/2">https://murmuring-depths-21990.herokuapp.com/order/delete/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/edit/3">https://murmuring-depths-21990.herokuapp.com/order/edit/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/details/3">https://murmuring-depths-21990.herokuapp.com/order/details/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/order/delete/3">https://murmuring-depths-21990.herokuapp.com/order/delete/3</a><br><br><br>
      
      <h2>Order Line:- </h2>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem">https://murmuring-depths-21990.herokuapp.com/orderLineItem</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/create">https://murmuring-depths-21990.herokuapp.com/orderLineItem/create</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/5">https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/5</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/5">https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/5</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/5">https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/5</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/1">https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/1">https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/1">https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/2">https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/2">https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/2">https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/3">https://murmuring-depths-21990.herokuapp.com/orderLineItem/edit/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/3">https://murmuring-depths-21990.herokuapp.com/orderLineItem/delete/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/3">https://murmuring-depths-21990.herokuapp.com/orderLineItem/details/3</a><br><br><br>
      
      <h2>Customers:- </h2>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer">https://murmuring-depths-21990.herokuapp.com/customer</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/create">https://murmuring-depths-21990.herokuapp.com/customer/create</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/edit/1">https://murmuring-depths-21990.herokuapp.com/customer/edit/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/delete/1">https://murmuring-depths-21990.herokuapp.com/customer/delete/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/details/1">https://murmuring-depths-21990.herokuapp.com/customer/details/1</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/edit/2">https://murmuring-depths-21990.herokuapp.com/customer/edit/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/delete/2">https://murmuring-depths-21990.herokuapp.com/customer/delete/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/details/2">https://murmuring-depths-21990.herokuapp.com/customer/details/2</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/edit/3">https://murmuring-depths-21990.herokuapp.com/customer/edit/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/delete/3">https://murmuring-depths-21990.herokuapp.com/customer/delete/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/details/3">https://murmuring-depths-21990.herokuapp.com/customer/details/3</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/edit/4">https://murmuring-depths-21990.herokuapp.com/customer/edit/4</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/delete/4">https://murmuring-depths-21990.herokuapp.com/customer/delete/4</a><br>
      <a href="https://murmuring-depths-21990.herokuapp.com/customer/details/4">https://murmuring-depths-21990.herokuapp.com/customer/details/4</a><br>
    </div>
  </div>
</div>
<!-- <% include footer %> -->