<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1>SuperSales</h1>
      <br/>
      <h2>Use this area to display information. </h2>
      <br/>
      <hr>
      <h3>During development, test your api here.</h3>
      <br/>
      <br/>
      <h4>GET a view</h4>
      
      <br/>
      <h4>GET JSON</h4>
      
      </ol>


    </div>
  </div>
</div>